li a{
    color: green;
}

a{
    color: green;
}

table tr {
        text-align: center;
        padding: 25px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#controls {
	text-align: center;
    max-width: 500px;
    /*height: 100px;*/
    /*border: 3px solid #73AD21;*/
    line-height:30px;
    /*background-color:#eeeeee;*/
    float:left;
    /*padding:5px;*/
    /*padding-top: 5px;*/
}

#controls div{
	/*border: 3px solid black;*/
	/*padding:5px;*/
	background-color:#d9d9d9;
}

#controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9d9d9;
    /*max-width: 500px;*/
}

#controls li a {
    display: block;
    /*width: 200px;*/
    margin: 0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#controls li a:hover {
    background-color: #111;
}



#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9d9d9;
    padding-left: 140px;
    /*max-width: 500px;*/
}

#navigation li a {
    display: block;
    /*width: 200px;*/
    margin: 0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li{
    float: left;
}

#navigation li a:hover {
    background-color: #111;
}

#content {
    padding-left: 100px
}


table.element-list {
	/*width: 50%;*/
	/*padding:5px;*/
}