{% extends "base.html" %}

{% block title %}Plates{% endblock %}

{% block subheading %}
{{ object.name }}
{% endblock %}

{% block controls %}
<li><a href="{% url 'growthData:plate-design' object.id %}">DESIGN</a></li>
<li><a href="{% url 'growthData:plate-delete' object.id %}">DELETE</a></li>
{% endblock %}

{% block content %}
<!-- 
<div id="loader-wrapper">
    <div id="loader"></div>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-md-10">
        <img class="img-responsive" src="{% url 'growthData:plate-image' object.id %}"/>
        <table>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Experimenter</th>
            <th>Number of wells</th>
        </tr>

        <tr>
            <td>{{ object.date }}</td>
            <td>{{ object.project }}</td>
            <td>{{ object.experimenter }}</td>
            <td>{{ object.well_set.count }}</td>
        </tr>
        </table>

        <H5><b>Experimental designs:</b></H5>
        <table>
                <tr>
                    <th>strain</th>
                    <th>designs</th>
                    <th>wells</th>
                    <th></th>
                    
                </tr>

                {% for ed,ws in expDesign_wellStrings %}
                    <tr>
                        <td>{{ ed.strain.name }}</td>
                        <td>{{ ed.designElementString|linebreaks }}</td>
                        <td>{{ ws|linebreaks }}</td>
                        <td><a href="{% url 'growthData:experimentalDesign' ed.id %}">view design</a></td>
                    </tr>
                {% endfor %}
        </table>
      </div>
      <div class="col-md-2">
        
        </div>
    </div>
</div>

<div>



</div>




{% endblock %}