{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block subheading %}Projects{% endblock %}

{% block controls %}
<li><a href="{% url 'growthData:project-create' %}">CREATE</a></li>
{% endblock %}

{% block content %}

    {% if project_list %}
        <table class="element-list">
            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Date started</th>
            </tr>

            {% for project in project_list %}
                <tr>
                    <td><a href="{% url 'growthData:project' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.description}}</td>
                    <td>{{ project.dateStarted}}</td>
                </tr>
            {% endfor %}
        </table>
        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'growthData:plates' %}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'growthData:plates' %}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>No projects found!!! :(</p>
    {% endif %}

{% endblock %}

