{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'growthData/style.css' %}" />
    <title>growthDB - {% block title %}growthDB{% endblock %}</title>
</head>

<body>

    <h1>growthDB - 
        {% block subheading %}{% endblock %}</h1>    

    <div id="navigation">
        <ul>
        {% block navigation %}
            <li><a href="{% url 'growthData:index' %}">Home</a></li>
            <li><a href="{% url 'growthData:plates' %}">Plates</a></li>
            <li><a href="{% url 'growthData:wells' %}">Wells</a></li>
            <li><a href="{% url 'growthData:experimentalDesigns' %}">Experimental Designs</a></li>
            <li><a href="{% url 'growthData:designElements' %}">Design Elements</a></li>
            <li><a href="{% url 'growthData:designs' %}">Designs</a></li>
            <li><a href="{% url 'growthData:strains' %}">Strains</a></li>
        {% endblock %}
        </ul>
    </div>

    <div id="controls"><ul>{% block controls %}{% endblock %}</ul></div>

    <br>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>