{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'growthData/style.css' %}" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="/media/main.js"></script>
    <title>growthDB - {% block title %}growthDB{% endblock %}</title>
</head>

<body>

    <div id="header"><h1>growthDB - 
        {% block subheading %}{% endblock %}</h1>   </div>
     

    <div id="navigation" class="container">
        <div class="row">
          <div class="col-md-1"><a href="{% url 'growthData:index' %}">Home</a></div>
          <div class="col-md-1"><a href="{% url 'growthData:plates' %}">Plates</a></div>
          <div class="col-md-1"><a href="{% url 'growthData:wells' %}">Wells</a></div>
          <div class="col-md-2"><a href="{% url 'growthData:experimentalDesigns' %}">Experimental Designs</a></div>
          <div class="col-md-2"><a href="{% url 'growthData:designElements' %}">Design Elements</a></div>
          <div class="col-md-1"><a href="{% url 'growthData:designs' %}">Designs</a></div>
          <div class="col-md-1"><a href="{% url 'growthData:strains' %}">Strains</a></div>
        </div>
    </div>

    <div id="controls"><ul>{% block controls %}{% endblock %}</ul></div>

    <br>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

