{% extends "base.html" %}

{% block title %}Designs{% endblock %}

{% block controls %}
<div><a href="{% url 'growthData:design-create' %}">CREATE</a></div>
{% endblock %}

{% block subheading %}
Designs
{% endblock %}

{% block content %}

    <table class="element-list">
    	<tr>
    		<th>Design</th>
            <th>Elements with this design</th>
    	</tr>

        {% for design in design_list %}
            <tr>
                <td><a href="{% url 'growthData:design' design.id %}">{{ design|linebreaks }}</a></td>
                <td>
                    {% for element in design.designelement_set.all %}    
                    <a href="{% url 'growthData:designElement' element.id %}">{{ element|linebreaks }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}