{% extends "base.html" %}

{% block title %}Wells{% endblock %}

{% block subheading %}Experimental design{% endblock %}

{% block content %}

<h1>{{ object.headline }}</h1>
<p>{{ object.content }}</p>
<h2>Strain: <a href="{% url 'growthData:strain' object.strain.id %}">{{ object.strain.name }}</a></h2>

<h2>Design Elements:</h2>

{% for de in object.designElements.all %}

<p>  <a href="{% url 'growthData:design' de.design.id %}"> {{ de.design.name }} </a>: {{ de.value }}</p>

{% endfor %}

<H2>Wells using this experimental design:</H2>

    <table>
    	<tr>
    		<th>Well</th>
    		<th>Plate</th>
    		<th>Number</th>
    		<th>Biological Replicae</th>
    	</tr>

        {% for well in well_list %}
	        <tr>
	            <td><a href="{% url 'growthData:well' well.id %}">{{ well|linebreaks }}</a></td>
	            <td><a href="{% url 'growthData:plate' well.plate.id %}">{{ well.plate }}</a></td>
	            <td>{{ well.number }}</a></td>
	            <td>{{ well.biologicalReplicate }}</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}